/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/*background*/
body {
    background: url('Rexy2.3.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(3, 54, 0);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/*Logo*/
.logo {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(177, 150, 0);
}

/*dropdown menu*/
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: rgb(177, 150, 0);
}

/*menu options*/
nav {
    position: absolute;
    top: 50px;
    left: 0;
    background: rgb(3, 54, 0);
    width: 200px;
    display: none;
    flex-direction: column;
}

nav.show {
    display: flex;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background: rgba(3, 31, 0, 0.747);
}

/*portfolio carousel*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.carousel-container {
    position: relative;
    width: 60%;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 400%;
}

.carousel img {
    width: 100%;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 1001; 
}


.modal-open .prev,
.modal-open .next {
    display: none;
}
